.summary {
    padding-right: 15px;
    padding-left: 15px;
}

.summary .col-md-4 {
    margin-bottom: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .summary {
        padding-right: 3px;
        padding-left: 3px;
    }
}
