* {
    margin: 0;
    font-size: 18px;
}

nav {
    width: 93%;
}

.logo {
    display: inline-block;
    width: 8%;
    float: left;
}

.logo img {
    display: block;
    height: 68px;
    width: 70%;
    margin: auto;
}

.nav-ul li {
    display: inline-block;
    width: 12%;
    height: 68px;
    line-height: 67px;
    background: #ffffff url(../images/navs/nav.png) repeat-x;
    background-size: 100% 100%;
    text-align: center;
}

.nav-ul li a {
    display: inline-block;
    color: #777777;
    height: 68px;
    top: 5px
}

.nav-ul li a:hover {
    text-decoration: none;
    border: none;
    font-size: 20px;
}

.nav-ul li a:link {
    background: none;
}

.loginNavs {
    display: inline-block;
    margin-top: 4px;
}