.carousel {
    height: 600px;
    margin-bottom: 60px;
}

.carousel .item {
    height: 600px;
    background-color: #269abc;
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 20;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}
