.select {
    margin: 3%;
}

#area {
    float: left;
    margin-top: 5px;
    width: 7%;
    font-size: large;
    padding-right: 4px;
}

.row {
    margin-left: 50px;
}

.row .row-rent {
    margin: 1%;
}

.row-select {
    margin: 5px;
}

#scenic {
    margin-top: 5px;
    width: 7%;
    font-size: large;
    padding-right: 0px;
}

#search {
    margin-top: 5px;
    width: 7%;
    font-size: large;
    padding-right: 0px;
    margin-right: 15px;
}

.text-search {
    width: 25%;
}

.picture {
    width: 200px;
    margin-bottom: 20px;
}

.btn-selete {
    margin-top: -34px;
}
