* {
    margin: 0;
    font-size: 18px;
}

.goods-header {
    width: 90%;
}

.left-pic {
    clear: left;
    float: left;
    width: 67%;
    height: 600px;
    /*border:1px #eee solid;*/
}

.img-main-rent {
    clear: both;
    float: left;
    width: 81%;
}

.img-main-rent img {
    width: 100%;
    height: 570px;
    border: 1px #eee solid;
}

.img-other {
    float: left;
    width: 17%;
    height: 600px;
    /*border:1px #eee solid;*/
}

.img-other img {
    display: inline-block;
    float: left;
    clear: both;
    width: 100%;
    height: 190px;
    border: 1px #eee solid;
}

.goods-information {
    width: 33%;
    height: 570px;
    float: left;
    font-size: 18px;
    /*border: 1px #eee solid;*/
}

.separate-left {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #fff), color-stop(1, rgba(122, 231, 184, 0.77)));
    height: 40px;
    width: 50%;
    float: left;
    opacity: 0.3;
}

.separate-right {
    float: right;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(122, 231, 184, 0.77)), color-stop(1, #fff));
    width: 50%;
    height: 40px;
    opacity: 0.3;
}

.goods-information p {
    display: inline-block;
    font-size: 26px;
    /*padding: 30px 40px;*/
}

.goods-name {
    padding: 50px 40px 0;
}

.goods-information p b {
    font-size: 75px;
    font-style: oblique;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0f2e7), color-stop(1, #6cdbc8));
    -webkit-background-clip: text;
    color: transparent;
}

.goods-information span {
    display: inline-block;
    font-size: 26px;
    padding: 30px 0 0;
}

.goods-information div {
    font-size: 26px;
    padding-left: 40px;
}

.goods-price {
    padding: 0 40px 15px;
}

.goods-address {
    padding: 0 0 0 40px;
}

.goods-information div select {
    width: 30%;
    height: 50px;
    text-align: center;
    background-color: white;
}

.goods-information button {
    display: inline-block;
    background: #c5f9e7;
    opacity: 0.8;
    border: none;
    width: 52%;
    height: 50px;
    margin: 50px 40px;
    font-size: 24px;
}

.goods-introduce {
    border: 1px #6cdbc8 dashed;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 50%;
}

.goods-text-wall h1 {
    padding: 1% 2%;
}

.goods-text-wall h2 {
    padding: 1% 2%;
}

.goods-text-wall p {
    color: #555;
    font-size: 22px;
    text-align: justify;
    text-indent: 2em;
    padding: 0 2%;
}

.goods-pictures-wall {
    width: 85%;
    text-align: center;
}

.goods-pictures-wall img {
    width: 40%
}

.goods-pictures-wall .img-start-end {
    width: 85%;
}
