.select {
    margin: 3%;
}
.row {
    margin-left: 50px;
}
.row .row-rent{
    margin: 1%;
}

.text-search {
    width: 25%;
}
.picture {
    width: 200px;
    margin-bottom: 20px;
}
.btn-m{
    margin-left:5px;
}
.btn-selete{
    margin-top: -34px;
}
