body {
    background: #FFFFFF;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.content {
    background: #FFFFFF;
    margin: 230px auto auto;
    border: 1px solid #E7E7E7;
    width: 400px;
    height: 235px;
    text-align: center;
}

.top-part {
    width: 165px;
    height: 96px;
    position: absolute;
}

.tou-img {
    background: url("../images/tou.png") no-repeat;
    width: 97px;
    height: 92px;
    position: absolute;
    top: -87px;
    left: 140px;
}

.left-hand {
    background: url("../images/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    left: 100px;
}

.right-hand {
    background: url("../images/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -112px;
}

.username {
    padding: 30px 0px 10px;
    position: relative;
}

.user-logo {
    background: url("../images/username.png") no-repeat;
    padding: 10px 10px;
    position: absolute;
    top: 46px;
    left: 40px;
}

.password {
    position: relative;
}

.password-logo {
    background: url("../images/password.png") no-repeat;
    padding: 10px 10px;
    position: absolute;
    top: 15px;
    left: 40px;
}

.input-field {
    border: 1px solid #D2D3C9;
    padding: 10px 0px 10px 35px;
    width: 85%;
    border-radius: 4px;
}

.input-field:focus {
    border-color: #66afe9;
}

.down-footer {
    height: 0px;
    line-height: 32px;
    margin-top: 30px;
    padding-top: 13px;
    border-top-color: #E7E7E7;
    border-top-width: 1px;
    border-top-style: solid;
}

.footer-text {
    margin: 0px 30px 20px 45px;
}

.sign-in {
    background: #008EAD;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #1A7598;
    border-image: none;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 15px;
}

.settTextColor {
    color: #CCCCCC;
    margin-right: 20px;
}
